<div>
  <% form_for :user  do |f| -%>
    <div>username: <%= f.text_field :username %> <%= error_message_on :user, :username, {:prepend_text=>'*'} %></div>
    <div>password: <%= f.password_field :password %> <%= error_message_on :user, :password, {:prepend_text=>'*'} %></div>
    <div>password confirmation: <%= f.password_field :password_confirmation %> <%= error_message_on :user, :password_confirmation, {:prepend_text=>'*'} %></div>
    <div><%= submit_tag 'finish' %>&nbsp;<%= submit_tag 'back' %>&nbsp;<%=submit_tag 'cancel' %></div>
  <% end -%>
</div>
