<h1>Finish</h1>


<%= "<p style=\"color: green\">#{flash[:notice]}<p>" if flash[:notice] %>

<% form_for :four_step_user, :url=>{:action=>:finish}  do |f| %>
  <%= f.error_messages %>

  
  <p>
    <%= f.label :username %><br />
    <%= f.text_field :username %>
  </p>
  
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  
  <p>
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </p>
  <p>
    <%= wizardly_submit %>
  </p>
<% end %>

<script type='text/javascript'>
  document.getElementById('four_step_user_username').focus()
</script>
