<h1>Second</h1>


<%= "<p style=\"color: green\">#{flash[:notice]}<p>" if flash[:notice] %>

<% form_for :four_step_user, :url=>{:action=>:second}  do |f| %>
  <%= f.error_messages %>

  
  <p>
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </p>
  
  <p>
    <%= f.label :gender %><br />
    <%= f.text_field :gender %>
  </p>
  <p>
    <%= wizardly_submit %>
  </p>
<% end %>

<script type='text/javascript'>
  document.getElementById('four_step_user_age').focus()
</script>
